.search-form {
    width: 100%;
    text-align: center;
    margin-top: 100px;
}
.search-form .search {
    width: 800px;
    height: 40px;
}

.admin-login-title {
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
}
.admin-login-form {
    width: 480px;
    margin: 20px auto 0;
    text-align: center;
    padding: 40px;
    border: 1px solid #ccc;
}

.admin-login-form input {
    width: 400px;
    height: 50px;
}

.admin-login-form .password {
    margin-top: 10px;
}

.admin-login-form .login-btn {
    margin-top: 10px;
    width: 100px;
}